<footer>
  <div class="container">
    <div class="row">
        <a href="/about"><%= config.author %></a>
        <p class="copyright text-muted text-center">Copyright &copy; <%= date(new Date().date, 'YYYY') %> <strong><%= config.author %></strong></p>
      </div>
    </div>
  </div>
</footer>